.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 1rem;
}

.menu {
  width: 100%;
  display: flex;
  color: white;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
  height: 4rem;
}

.menu span {
  font-weight: 600;
  font-size: 1.8rem;
}

.logout {
  border: none;
  border-radius: 0.4rem;
  padding-inline: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  background-color: #292561;
  font: inherit;
}

.logout:hover {
  background-color: #3d3882;
}

.logout:active {
  background-color: #292561;
}

.container img {
  border-radius: 100%;
  width: 7rem;
  margin-right: 0.2rem;
  color: white;
}
